---
layout: nil
title: SHARE
---
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="nodeclipse,Nodeclipse,node.js,eclipse pulgin,ide,node,debug,phantomjs,jjs,nashorn,vert.x,maven,gradle,android" name="keywords">
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="pipe.css">
	<title>Nodeclipse, Enide -- Node.JS development in Eclipse</title>
	<style>
		ul {
			padding: 0;
			margin: 0;
			font-size: 14px;
		}
		ol {
			padding: 0;
			margin: 0;
			font-size: 14px;
		}
		body {
			padding-left: 60px;
		}
		.donateh1 {
		    cursor: pointer;
		}
		.donate-img{
    		width: 160px;
    		background-color: white;
		}
	</style>

</head>
<body>
	{% include navigation-links.html %}
    <div class="paypal">
        <form class="donate-img" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="lambgao@aliyun.com">
            <input type="hidden" name="lc" value="C2">
            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
            <input id="goPaypal" type="image" src="img/paypal-donate.jpg" border="0" name="submit" alt="PayPal——最安全便捷的在线支付方式！">
            <img alt="" border="0" src="https://www.paypalobjects.com/zh_XC/i/scr/pixel.gif" width="1" height="1">
        </form>
        <h1 class="donateh1" onclick="document.getElementById('goPaypal').click()">Donate via Paypal</h1><br>
    </div>
    <div class="alipay">
        <img class="donate-img" src="img/alipay-donate.png">
        <h1>Donate via Alipay. 使用支付宝钱包进行捐赠,请扫描上面的二维码</h1><br>
    </div>
    {% include enide-2015-downloads.html %}
</body>
</html>
