---
layout: nil
title: Nodeclipse, Enide
---
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="nodeclipse,Nodeclipse,node.js,eclipse pulgin,ide,node,debug" name="keywords">
    <link type="image/x-icon" rel="icon" href="http://www.nodeclipse.org/favicon.ico">
    <link type="image/x-icon" rel="shortcut icon" href="http://www.nodeclipse.org/favicon.ico">
    <link rel="stylesheet" href="http://www.nodeclipse.org/pipe.css">
	<title>Nodeclipse, Enide -- Node.JS development in Eclipse</title>
	<style>
		ul {
			padding: 0;
			margin: 0;
			font-size: 14px;
		}
		ol {
			padding: 0;
			margin: 0;
			font-size: 14px;
		}
	</style>
</head>
<body class="int" id="logos">
    <div id="intro" class="interior">
        <a href="http://www.nodeclipse.org/" title="Go back to the home page">
            <img id="logo" src="/img/nodejs-logo.png" alt="node">
        </a>
    </div>
    <div id="content" class="clearfix">
            <div id="column2" class="interior">
                <ul>
                    <li><a href="http://www.nodeclipse.org/" class="home current">Home</a></li>
                    <li><a href="/coffeescript" class="blog">Coffee</a></li>
                    <li><a href="/community/" class="community">Community</a></li>
                    <li><a href="http://www.nodeclipse.org/share.html" class="docs">SHARE</a></li>
                    <li><a href="http://www.nodeclipse.org/artworks.html" class="logos">Logos</a></li>
                    <li><a href="http://www.nodeclipse.org/updates/" class="download">Download</a></li>
                    <li>{% include nodeclipse_install_button.html %}</li>
                    <li><a href="/enide" class="download">Enide</a></li>
                    <li><a href="/enide/studio" class="download">Enide Stduio</a></li>
                    <li><a href="/nts/" class="download">NTS</a></li>
                    <li><a href="http://nodeclipse.github.io/" class="blog">Developing</a></li>
                    <li><a href="https://github.com/Nodeclipse/nodeclipse-blog#blog" class="blog">Blog</a></li>
                    <li><a href="/restclient-tool/" class="blog">REST CLIENT</a></li>
                    <li><a href="/sdk/" class="blog">SDK</a></li>
                    <li><a href="/video">Video</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="http://nodeclipse.uservoice.com/forums/216804-general" class="community">Ideas</a></li>
                    <li><a href="/feed.articles.xml">Feeds</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="https://github.com/Nodeclipse/eclipse-node-ide/blob/master/Hints.md#hints">Hints</a></li>
                    <li><a href="https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.help/contents#intro">Help</a></li>
                </ul>
                
                <p class="twitter"><a href="http://twitter.com/share?url=http://www.nodeclipse.org&text=#nodeclipse #nodejs tooling with #eclipse" target="_blank">tweet</a></p>
                
            </div>
        
            <div id="column1" class="interior">
            	<h1>Nodeclipse & Enide</h1>
            	<p></p>
            	<p> /noʊdˈklɪps/</p>
            <!-- 
		        <p>
		        	Nodeclipse is a plugin that 
			        adds IDE functionality to the <a href="http://www.eclipse.org/">Eclipse</a> 
			        for the <a href="http://www.nodejs.org/">Node.js</a>. </br>
					    The purpose of Nodeclipse is to create an environment in
					    which development of Node is easy for a beginner to professional user.
		        </p>
		     -->    
			
			<h3>About</h3>
		        <p>
						One-stop [work]shop for <a href="http://www.nodejs.org/">Node.JS</a> tools.

						We can't develop everything at once, but we let you know what are the best things around for
						Node.js development with <a href="http://www.eclipse.org/">Eclipse</a>.
						<br/>
						Nodeclipse is free open-source software released every beginning of month.
						<br/><br/>
						<a href="/#features">Features</a>.
						<a href="/#usage">Usage</a>.
						<a href="/#support">Support</a>.
						<a href="/support-us">Support us</a>.
		        </p>

			<h3>Announcements</h3><a class="anchor" id="news"></a>
			
			<p><a href="community/newsletter">Subscribe for newsletter.</a></p>
			<p>See <a href="news/">all news at one page</a>.</p>
			
			<p></p>
        		<h4>Happy New Year!</h4>
        		<ul>
        			<li>明けましておめでとうございます！</li>
        			<li>新年快乐！</li>
        			<li>С новым годом!</li>
        			<li>Frohes Neues Jahr!</li>
        			<li>¡Feliz Año Nuevo!</li>
        		</ul>
        		<p>More successful & interesting projects in new year! Have fun!        		
			</p>
			<p>
        		2013-12-27<br/>
				Finally 
				<a href="https://github.com/satyagraha/gfm_viewer/issues/47">GFMV#47</a>				
				with <a href="/enide/tools/gfmv">GitHub Flavored Markdown Viewer plugin</a> 1.8 
				( <code>Update p2 repository: http://dl.bintray.com/satyagraha/generic/1.8.0</code> )
				you are  able to right-click 
				<code>node_modules</code> folder <code>Generate Markdown Preview</code>					
				and after that open any .md file with <code>Show in GFM View</code> instantly, any time, 
				even when offline, and it will look exactly like on GitHub.
				( HTMLs are saved into <code>.*.md.html</code> filenames.
				They will not be committed when project's <code>.gitignore</code> file has <code>.*.md.html</code>.
				The .* files are hidden in Eclipse by default, but see "No miracles, just files" <a href="/#usage">below</a>. )
			</p>
			<p>
        		2013-12-20<br/>
        		Site <a href="/demos/navigation">Navigation Demo</a>.
			</p>
			<p>
        		2013-12-20<br/>
        		Nodeclipse is #1 in Eclipse
				<a href="http://www.eclipse.org/community/eclipse_newsletter/2013/december/article2.php">Top 10 NEW Plugins for 2013</a>,
				together with <a href="/enide/tools/startexplorer">StartExplorer</a>, <a href="/enide/tools/gfmv">GitHub Flavored Markdown Viewer plugin</a>.
				<a href="/enide">Enide - Eclipse Node.JS IDE</a> also made into Top 10 NEW. There may be general confusion 
				as Enide is set/collection of plugins including Nodeclipse available in the same 
				<a href="http://www.nodeclipse.org/updates/">update site</a>
				or via <a href="http://marketplace.eclipse.org/content/enide-eclipse-nodejs-ide">.p2f file</a>.
			</p>
			<p>
        		2013-12-11<br/>
				<a href="https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.ui/templates">Nodeclipse CLI</a> is published with npm  
				<a href="https://npmjs.org/package/nodeclipse">registry</a>.
				Install it with <pre>$ npm install -g nodeclipse</pre>
				Now create new project in any way, then <pre>$ nodeclipse -p</pre> to make the project ready for import
				via <code>File -> Import -> General / Existing Projects into Workspace</code>.</br>
				CLI util also allows to create new Node.js projects like <pre>$ nodeclipse -c project1 -u hellow-world</pre>.
				And that is great because it uses 
				<a href="https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.ui/templates">the same templates as Nodeclipse plugin</a>.
				So if you have an idea for new wizard, propose your additions with pull request as new_folder,
				then it will be immediately available as <pre>$ nodeclipse -c new_project1 -u new_folder</pre>,
				and after a while as Wizard option in Eclipse/Enide. 
			</p>
			<p>
        		2013-12-06<br/>
				<a href="/enide/monster/">Enide Monstr</a> 0.8.1 for Windows x32 is published on 
				<a href="https://sourceforge.net/projects/nodeclipse/files/Enide-Monstr/">SourceForge</a>.
				It is based on <a href="/enide/studio/">Enide Studio</a> (Java/DSL)
				and includes Nodeclipse 0.8.1, CoffeeScript 0.3, TypeScript and other plugins for Node.js, JavaScript,
				Java and Eclipse development with git and GitHub.<br/>
				<br/>
				32bit stack (JDK+Eclipse) is recommended now as <a href="https://github.com/Nodeclipse/nodeclipse-1/issues/71">issue #71</a>
				seems to appear on 64bit stack only. Contribute for other OSes by creating new
				<a href="https://github.com/Nodeclipse/nodeclipse-1/issues">issue</a>. 
				A community feedback is needed to analyze why
				some known (and unknown) bugs appear in different environments, so be talky, when you notice bad things. 
				For me Windows 7 with JDK7_40 32bit seems to be the best combination for now. 
				Stay tuned and updated.
			</p>
			<p>	
				2013-12-02<br/>
				Welcome to DemoDays Beijing on December 14th 2pm</br>
				Free event in English/Chinese on Java, JavaScript, MongoDB, Eclipse topics.
				Welcome to share and present, just contact via 
				<a href="callto://pverest">Skype</a> or QQ 908781544. 
				Guests are to <a href="https://yoopay.cn/event/76967677">register and check updates</a>.
				Let your friends know. 
	        </p>
			<p>	
				2013-12-02<br/>
				Enide & Nodeclipse version 0.8 are released. New update site is 
				<pre>{% include nodeclipse_update_site.html %}</pre>
				{% include nodeclipse_install_button.html %}</br>
				There is also update site archive on <a href="http://sourceforge.net/projects/nodeclipse/files">SourceForge</a>.
			  			<br/>
				Check <a href="/history">What's new</a>.
	        </p>
			
			<h3>Shared posts</h3>
			<ul class="posts">
			  {% for post in site.posts limit:5 %}
			    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
			  {% endfor %}
			</ul>
			<p>See <a href="/share.html">all shares</a>.</p>

		     <h3>Installing</h3>
		        <p>
				If you have not installed <a href="http://www.nodejs.org/">Node.js</a> yet,
				please <a href="http://www.nodejs.org/download/">install</a> it first.<br/>
				Then, please install Nodeclipse CLI and Express as follows.
				<!-- for Windows
				<pre>$ npm install -g express</pre><br/>
				-->
				<pre>$npm install -g nodeclipse</pre><br/>
				<pre>$npm install -g express</pre><br/>
				</p>

				<p>
		        Drag and drop {% include nodeclipse_install_button.html %} into a running Eclipse to install Nodeclipse.</br>
		        Or use update site:
          		<pre>{% include nodeclipse_update_site.html %}</pre>
				</p>
				<p>Check <a href="/updates/">download page</a> for more details.</p>
				<!--  
				<p>
				You may want to install JSHint integration for Eclipse.<br/>
				Update site: <a href="http://github.eclipsesource.com/jshint-eclipse/updates/">http://github.eclipsesource.com/jshint-eclipse/updates/</a></li>
				</p>-->
				
				<h3><a name="features" class="anchor" href="#features"></a>Features</h3>
				<ul>
					<li>Creating default structure for New Node Project and New Node Source File</li>
					<li>Generating Express project with Wizard</li>
					<li>JavaScript Syntax highlighting</li>
					<li>Bracket matching and marking selection occurences with background color</li>
					<li>Content Assistant within one file</li>
					<li>Go to definition with <kbd>Ctrl</kbd>+click when <a href="http://usejsdoc.org/">JSDoc is used</a></li>
					<li>Refactoring within one file (<kbd>Alt+Shift+R</kbd>)</li>
					<li>JSON files highlight and validation</li>
					<li>NPM support</li>
					<li>Debugging - Breakpoint, Trace, Variables, Expressions, etc... via modified Eclipse debugger plugin for V8 (Chromium Tools)</li>
					<li>Setting project properties for <a href="http://github.eclipsesource.com/jshint-eclipse/">JSHint-Eclipse</a> automatically;
						<a href="http://www.jshint.com/">JSHint</a> 
						settings <a href="https://github.com/Nodeclipse/nodeclipse-1/blob/master/org.nodeclipse.ui/templates/common-templates/.jshintrc">template</a> </li>
					<li>Specifying passed arguments to <code>node</code> and Node application (per every file anf per whole workspace)</li>
					<li>Specifying environment variables values to use (per every file)</li>
					<li>Running CoffeeScript *.coffee files</li>
					<li>Running *.js files with PhantomJS, MongoDB Shell or Java 8 Nashorn <code>jjs</code> util.</li>
					<li>Supporting <code>*.njs, *pjs, *.mjs</code> and <code>*.jjs</code> file extentions.</li>
					<li>Bundled together with
						<a href="http://marketplace.eclipse.org/content/markdown-text-editor/click">Markdown Editor</a>, 
						<a href="http://marketplace.eclipse.org/content/github-flavored-markdown-viewer-plugin/click">GitHub Flavored Markdown</a>, 
						<a href="http://marketplace.eclipse.org/node/641101/click">StartExplorer (for system explorer and shell)</a>,
						<a href="http://marketplace.eclipse.org/content/eclipse-regexp/click">RegExp</a>,
						<a href="http://marketplace.eclipse.org/content/eclipse-icons-editor/click">Icon Editor</a>,
						<a href="http://marketplace.eclipse.org/content/monjadb/click">MongoDB GUI</a>, 
						<a href="\restclient-tool">RestClient Tool</a>
						and other plugins (20+ in total, check update site(p2 repository) and 
						<a href="http://www.nodeclipse.org/updates/list">Nodeclipse Plugin List</a>)
						
						</li>
					<li>Support for Eclipse Juno, Kepler, Luna M3 (3.7, 3.8, 4.2, 4.3, 4.4)</li>
				</ul>

				<h3><a name="usage" class="anchor" href="#usage"></a>Usage</h3>
			        <p>
				 	See 1366x768 introduction video at <a href="/video">/video page</a> or see lower resolution on Youtube.
				 	</p>
					<iframe width="560" height="315" src="http://www.youtube.com/embed/8ACnLALdKT8" frameborder="0" allowfullscreen></iframe>
			        <p>
				 	Read also <a href="https://github.com/Nodeclipse/eclipse-node-ide/blob/master/Hints.md#hints">Hints</a> and
				 	<a href="https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.help/contents#intro">Online Help</a>.
			        </p>

				<h4>First steps</h4>
					<p>
					<ol>
					<li>In Eclipse switch to Node perspective <code>Window -> Open perspective -> Other... -> Node</code></li>
					<li>Select <code>File -> New -> Node Project</code>.</li>
					<li>Select "Hello world" template.</li>
					<li>Enter [Project name], press [Finish].</li>
					<li>Locate <code>hello-world-server.js</code> in newly created project. Right-click and select Run As -> Node Application.</li>
					<li>Navigate to <code>http://127.0.0.1:1337/</code> in your browser.</li>
					<li>Press red icon "Terminate" inside Console View to stop current application.</li>
					<li>Double click on <code>hello-world-server.js</code> to open Editor. Right-click inside Editor to Run or Debug your code.</li>
					</ol>
					</p>

		        <h4>Editor Tips</h4>
					<p>
					<ul>
					<li>Press <kbd>Ctrl+Shift+F</kbd> to format code.</li>
					<li>Press <kbd>Alt+/</kbd> to call Code Assist (that is greatly improved when using JSDoc). </li>
					<li>Press <kbd>Alt+Shift+J</kbd> to add JSDoc, <code>@</code> will give options. </li>
					<li>Press <kbd>Alt+r,s,number</kbd> to run current file. </li>					
					<li>Press <kbd>Ctrl+3</kbd>, type <kbd>crazy</kbd> to open Crazy Outline (<a href="/enide/tools/pde-tools">PDE Tools</a>). </li>
					</ul>
					</p>

		        <h4>General Tools</h4>
					<p>
					<ul>
					<li>Press <kbd>Ctrl+Alt+E</kbd> to open Explorer (<a href="/enide/tools/startexplorer">StartExplorer</a>)</li>
					<li>Press <kbd>Ctrl+Alt+D</kbd> to open Shell (<a href="/enide/tools/startexplorer">StartExplorer</a>)</li>
					<li>Press <kbd>Ctrl+Alt+A</kbd> to open with default app (e.g. Node.js for .js files) (<a href="/enide/tools/startexplorer">StartExplorer</a>)</li>
					<li>Press <kbd>Ctrl+Alt+C</kbd> to copy resource path to clipboard (<a href="/enide/tools/startexplorer">StartExplorer</a>)</li>
					<li>Press <kbd>Ctrl+Alt+F</kbd> to search/highlight everywhere in Eclipse (<a href="/enide/tools/glance">Glance</a>)</li>
					<li>Press <kbd>Ctrl+3</kbd>, type <kbd>rest</kbd> to open Rest Client (<a href="/restclient-tool/">REST client tool</a>). </li>
					</ul>
					</p>

		        <h4>Generating of Express project</h4>
					<p>
					<ol>
					<li>Select <code>File -> New -> Node Express Project</code>.</li>
					<li>Enter [Project name], select preferred Template Engine, and press [Finish] button.</li>
					<li>Wait for <code>npm</code> to finish dowloading dependencies. Press <kbd>F5</kbd>(refresh)
					 for <code>node_modules</code> folder to appear.
					 (<a href="https://github.com/Nodeclipse/nodeclipse-1/blob/master/org.nodeclipse.help/contents/configuration.md#optional-general-eclipse-configuration">configure autorefresh</a>) </li>
					</ol>
					</p>
				
				<h4>Debugging and breakpoints</h4>
					<p>
					<ol>
					<li>Open the JavaScript file that you want to set breakpoints.</li>
					<li>Double-click on the ruler on the left side of the line you want to set a breakpoint.</li>
					<li>If you want to remove a breakpoint, double-click on the ruler again.</li>
					<li>Select the main source file of the Node Application in the Project Explorer, open the context menu with right-click,
					 select the <code>Debug As -> Node Application</code>.</li>
					</ol>
					</p>

				<h4>No miracles, just files</h4>
					<p>
					In Project Explorer press trianle to call drop down menu Cutomize View... -> Filter -> uncheck *.resources.
					Now you see all files:
					.project, .jshnt.rc and .settings folder. Take time to explore files content, it is all under your control.
					</p>
				
				<h4>More shortcuts</h4>
				<div>
					<ul>
						<li>Press <kbd>Ctrl+3</kbd> quick acceess</li>
						<li>Press <kbd>Ctrl+Shift+R</kbd> to open any file</li>
						<li>Press <kbd>Ctrl+Shift+L</kbd> to search quickly within all files (<a href="/enide/tools/quicksearch">Quick Search</a>)</li>
					</ul>
				<p>
				<a href="http://rayfd.me/2007/05/20/10-eclipse-navigation-shortcuts-every-java-programmer-should-know/">
				10 Eclipse Navigation Shortcuts Every Java Programmer Should Know</a> (2007),<br/> 
				<a href="http://shortcutworld.com/en/win/Eclipse.html">93 time-saving Keyboard Shortcuts for Eclipse</a> (2013)
				</p>
				</div>
					

				<h3><a name="support" class="anchor" href="#support"></a>Support</h3>
				<p>Browse existing questions on <a href="http://stackoverflow.com/questions/tagged/nodeclipse">StackOverflow</a>, as we do.</p>								
				<ul>
					<li>How do I? -- 1) <kbd>F1</kbd>/Help -> Help Contens -> Nodeclipse Help ,
					 <a href="https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.help/contents#intro">2) Online Help</a> or
					 <a href="http://stackoverflow.com/questions/ask">3) StackOverflow</a>! *1<br>
					 *1 Don't forget to add `nodeclipse` tag.		 
					 </li>
					<li>I got this error, why? -- <a href="http://stackoverflow.com/questions/tagged/nodeclipse">StackOverflow</a>! *1</li>
					<li>I got this error and I'm sure it's a bug -- raise an <a href="https://github.com/Nodeclipse/nodeclipse-1/issues">issue</a>!</li>
				<p>
				Should you <a name="report-a-bug" class="anchor" href="#report-a-bug"></a>report a bug, please include the following:
				<ol>
					<li>Nodeclipse version number (like 0.4 or 0.8)</li>
					<li>Eclipse version number (like 4.3.1 Kepler or 4.4.0)</li>
					<li>Eclipse distribution (e.g. Eclipse for JEE Developers)</li>
					<li>A detailed description of the steps necessary to reproduce the problem.</li>
					<li>Screenshot and stack trace, that you can get from Eclipse Error Log View (Window -> Show View ...)
					 or from '.log' file from the directory '.metadata' in your workspace.</li>					
					<li>See example <a href="https://github.com/Nodeclipse/nodeclipse-1/issues/78">issue #78</a></li>
				</ol>
				</p>
					<li>I have an idea/request -- suggest new <a href="http://nodeclipse.uservoice.com/forums/216804-general">ideas for Nodeclipse</a>!</li>
					<li>Why do you? -- <a href="https://groups.google.com/forum/#!forum/nodeclipse">Nodeclipse forum(Mailing list)</a>!</li>
					<li>When will you? -- <a href="https://groups.google.com/forum/#!forum/nodeclipse">Nodeclipse forum(Mailing list)</a>!</li>
				</ul>

          		<h3>Fork me on <a href="https://github.com/Nodeclipse">GitHub</a></h3>
          		<p>
          			You can also clone the <a href="https://github.com/Nodeclipse/nodeclipse-1">nodeclipse-1 project</a>
          			 with <a href="http://git-scm.com">Git</a> by running:
				</p>
				<pre>$ git clone git://github.com/Nodeclipse/nodeclipse-1.git</pre>
				<!--
				<pre><s>$ git clone git://github.com/tomotaro1065/nodeclipse.git</s></pre>
				<pre><s>$ git clone git://github.com/Nodeclipse/nodeclipse.git</s></pre>
				<pre><s>$ git clone git://github.com/lambgao/nodeclipse</s></pre>
				-->
				<p>Then build with</p>
				<pre>$ mvn package</pre>
				
				<p>First time <a href="http://maven.apache.org/">maven</a> needs download a lots!
				<a href="https://github.com/Nodeclipse/nodeclipse-1#maven-build">Check README</a>.</p>
				
				
				<h3><a name="helping" class="anchor" href="#helping"></a>Hepling</h3>
				<h3></h3>
				<p>Start by raising an <a href="https://github.com/Nodeclipse/nodeclipse-1/issues">issue</a>
				 about what you have on your mind, share some related information and links. See possible ways to help below:</p>
				 
				<h4>Big Problems</h4>
				<ul>
				<li><a href="https://github.com/Nodeclipse/nodeclipse-1/issues?labels=critical&page=1&state=open">critical bugs</a></li>
				</ul>
				
				<h4>Small Problems</h4>
				<ul>
				<li>What content should
				<a href="https://github.com/Nodeclipse/nodeclipse-1/blob/master/org.nodeclipse.ui/templates/common-templates/.jshintrc">.jshintr</a>
				have? Read <a href="http://www.jshint.com/docs/options/">JSHint docs</a>
				and books like <a href="http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742">JavaScript: The Good Parts by Douglas Crockford</a>
				</li>
				</ul>
				
				<h4>Guide</h4>
				<p>Don't know a bit of Java, but guru in Node.js? Help us by guiding on Future on Node.js and focus framework to support.</p>
				 
				<h4>Say Thanks</h4>
            	<p>
<a class="coinbase-button" data-code="e9ac3765ff998b0e03b9e91f73152fc1" data-button-style="donation_small" href="https://coinbase.com/checkouts/e9ac3765ff998b0e03b9e91f73152fc1">Donate Bitcoins</a>
<script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
      			</p>
      			<p>Though the value of Bitcoins has raised recently,
      			<a href="http://www.euronews.com/2013/12/13/in-bitcoins-we-don-t-trust-says-eu-banking-watchdog/">
      			be careful of holding savings in bitcoins [1]</a>,
      			<a href="http://www.euronews.com/2013/12/18/bitcoins-bounce-around-after-chinese-trading-crackdown/">[2]</a>      			
      			</p>
      			<p>What Nodeclipse project needs is transparent system, where users could donate (possibly anonymously) stating purpose,
      			and those money should encourage current and new contributor to develop this project. No solution was found for that so far,
      			and as it is not top priority this question may be opened for long time.</p>

				<h3>Contact</h3>
				<p>
					Please report <a href="https://github.com/Nodeclipse/nodeclipse-1/issues">bugs/issues/ideas/guides</a>.
					Please visit the <a href="https://groups.google.com/forum/#!forum/nodeclipse">Nodeclipse forum(Mailing list)</a>.
					<!-- 
					Please send us <a title="Send me an email" href="mailto:dev@nodeclipse.org">email</a>.<br/>
					 -->
				</p>
				
				<p>
					Looking for webmaster. If you noticed any site problem, typos, etc, please 
					<a href="https://github.com/Nodeclipse/www.nodeclipse.org/issues">raise an issue for the site</a>.
				</p>
				
				<p><a href="http://with-eclipse.github.io/" target="_blank"><img alt="with-Eclipse logo" src="http://with-eclipse.github.io/with-eclipse-1.jpg" /></a></p>
				
				<p><i>Hosted by</i><br>
		        <a href="https://github.com/Nodeclipse">
		          <img src="https://github.com/github/media/raw/master/logos/github_logo_social_coding_outlined.png" style="border: 0" alt="github.com" height="39" width="88">
		        </a></p>
                	</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31140487-1']);
  _gaq.push(['_setDomainName', 'nodeclipse.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40088581-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script><!-- tracking by Paul-->
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41377881-2', 'nodeclipse.org');
  ga('send', 'pageview');

</script>
</body>
</html>
