---
layout: nil
title: Nodeclipse, Enide
---
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="nodeclipse,Nodeclipse,node.js,eclipse pulgin,ide,node,debug" name="keywords">
    <link type="image/x-icon" rel="icon" href="http://www.nodeclipse.org/favicon.ico">
    <link type="image/x-icon" rel="shortcut icon" href="http://www.nodeclipse.org/favicon.ico">
    <link rel="stylesheet" href="http://www.nodeclipse.org/pipe.css">
	<title>Nodeclipse, Enide -- Node.JS development in Eclipse</title>
	<style>
		ul {
			padding: 0;
			margin: 0;
			font-size: 14px;
		}
		ol {
			padding: 0;
			margin: 0;
			font-size: 14px;
		}
	</style>
</head>
<body class="int" id="logos">
    <div id="intro" class="interior">
        <a href="http://www.nodeclipse.org/" title="Go back to the home page">
            <img id="logo" src="/img/nodejs-logo.png" alt="node">
        </a>
    </div>
    <div id="content" class="clearfix">
            <div id="column2" class="interior">
                <ul>
                    <li><a href="http://www.nodeclipse.org/" class="home current">Home</a></li>
                    <li><a href="/coffeescript" class="blog">Coffee</a></li>
                    <li><a href="/community/" class="community">Community</a></li>
                    <li><a href="http://www.nodeclipse.org/share.html" class="docs">SHARE</a></li>
                    <li><a href="http://www.nodeclipse.org/artworks.html" class="logos">Logos</a></li>
                    <li><a href="http://www.nodeclipse.org/updates/" class="download">Download</a></li>
                    <li>{% include nodeclipse_install_button.html %}</li>
                    <li><a href="/enide" class="download">Enide</a></li>
                    <li><a href="/enide/studio" class="download">Enide Stduio</a></li>
                    <li><a href="/nts/" class="download">NTS</a></li>
                    <li><a href="http://nodeclipse.github.io/" class="blog">Developing</a></li>
                    <li><a href="https://github.com/Nodeclipse/nodeclipse-blog#blog" class="blog">Blog</a></li>
                    <li><a href="/restclient-tool/" class="blog">REST CLIENT</a></li>
                    <li><a href="/sdk/" class="blog">SDK</a></li>
                    <li><a href="/video">Video</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="http://nodeclipse.uservoice.com/forums/216804-general" class="community">Ideas</a></li>
                    <li><a href="/feed.articles.xml">Feeds</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="https://github.com/Nodeclipse/eclipse-node-ide/blob/master/Hints.md#hints">Hints</a></li>
                    <li><a href="https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.help/contents#intro">Help</a></li>
                </ul>
                
                <p class="twitter"><a href="http://twitter.com/share?url=http://www.nodeclipse.org&text=#nodeclipse #nodejs tooling with #eclipse" target="_blank">tweet</a></p>
                
            </div>
        
            <div id="column1" class="interior">
            	<h1>Nodeclipse</h1>
            	<p></p>
            	<p> /noʊdˈklɪps/</p>
            <!-- 
		        <p>
		        	Nodeclipse is a plugin that 
			        adds IDE functionality to the <a href="http://www.eclipse.org/">Eclipse</a> 
			        for the <a href="http://www.nodejs.org/">Node.js</a>. </br>
					    The purpose of Nodeclipse is to create an environment in
					    which development of Node is easy for a beginner to professional user.
		        </p>
		     -->    
			
			<h3>Vision</h3>
		        <p>
						One-stop [work]shop for <a href="http://www.nodejs.org/">Node.JS</a> tools.

						We can't develop everything at once, but we let you know what are the best things around for
						Node.js development with <a href="http://www.eclipse.org/">Eclipse</a>.<br/><br/>
		        </p>

			<h3>Announcements</h3><a class="anchor" id="news"></a>
			
			<p><a href="community/newsletter">Subscribe for newsletter.</a></p>
			
			<p>	
				2013-11-01<br/>
				Nodeclipse & Enide version 0.7 are released. New update site is 
				<pre>{% include nodeclipse_update_site.html %}</pre>
				{% include nodeclipse_install_button.html %}</br>
				There is also update site archive on <a href="http://sourceforge.net/projects/nodeclipse/files">SourceForge</a>.
			  			<br/>
				Check <a href="/history">What's new</a>.
	        </p>
			<p>	
				2013-10-31<br/>
				Welcome to organize and give a talk on 
				<a href="http://demodays.github.io">Software Development<img alt="DemoDays" src="http://demodays.github.io/img/logo.png"></a>
				and <a href="http://wiki.eclipse.org/Eclipse_DemoCamps_November_2013">
				<img alt="Eclipse DemoCamps" src="http://wiki.eclipse.org/images/b/b7/Eclipse_DemoCamp_New.jpg" height="40" width="50">
				Eclipse DemoCamps</a> around 
				<a href="http://events.eclipse.org/">the world</a> in November.
	        </p>
			<p>
        		2013-09-12<br/>
				<a href="/enide/studio/">Enide Studio</a> 0.5 for Windows x64 & x32 is published on 
				<a href="https://sourceforge.net/projects/nodeclipse/files/Enide-Studio/">SourceForge</a>.
				It is based on <a href="http://www.eclipse.org/kepler/">Eclipse Kepler</a> Java/DSL
				and includes Nodeclipse 0.5 and other plugins for Node.js, JavaScript,
				Java and Eclipse development with git and GitHub.
			</p>
			<p>
        		2013-08-22<br/>
        		<a href="/coffeescript">Nodeclipse CoffeeScript Editor 0.3.0</a>
        		<a href="http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=1097343" 
        		title="Drag and drop into a running Eclipse to install Nodeclipse CoffeeScript Editor">
				  <img src="/img/installbutton.png"/></a>,
				  <a href="/git/addon/">Nodeclipse Git Addon 0.1.0</a>
				  <a href="http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=1076754">
				<img src="/img/installbutton.png"></a> are released.
				All of them can be quickly accessed via <a href="/updates/list">Nodeclipse Plugins List</a> plugin 
				<a href="http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=1084253">
				<img src="/img/installbutton.png"></a>,
				that now has almost 20 plugins, including TypeScript, jQuery Integration, Start Explorer or shell.
			</p>
			<p>
        		2013-07-31<br/>
        		Be first to suggest new <a href="http://nodeclipse.uservoice.com/forums/216804-general">ideas for Nodeclipse</a>.
			</p>
			<p>See <a href="news/">all news at one page</a>.</p>
			
			<h3>Shared posts</h3>
			<ul class="posts">
			  {% for post in site.posts limit:5 %}
			    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
			  {% endfor %}
			</ul>
			<p>See <a href="/share.html">all shares</a>.</p>

		     <h3>Installing</h3>
		        <p>
				If you have not installed <a href="http://www.nodejs.org/">Node.js</a> yet,
				please <a href="http://www.nodejs.org/download/">install</a> it first.<br/>
				Then, please install Express as follows.
				<!-- for Windows
				<pre>$ npm install -g express</pre><br/>
				-->
				<pre>$sudo npm install -g express</pre><br/>
				</p>

				<p>
		        Drag and drop {% include nodeclipse_install_button.html %} into a running Eclipse to install Nodeclipse.</br>
		        Or use update site:
          		<pre>{% include nodeclipse_update_site.html %}</pre>
				</p>
				<!--  
				<p>
				You may want to install JSHint integration for Eclipse.<br/>
				Update site: <a href="http://github.eclipsesource.com/jshint-eclipse/updates/">http://github.eclipsesource.com/jshint-eclipse/updates/</a></li>
				</p>-->
				
				<h3>Features</h3>
				<ul>
					<li>Creating default structure for New Node Project and New Node Source File</li>
					<li>Generating Express project with Wizard</li>
					<li>JavaScript Syntax highlighting</li>
					<li>Bracket matching and marking selection occurences with background color</li>
					<li>Content Assistant within one file</li>
					<li>Go to definition with <kbd>Ctrl</kbd>+click when <a href="http://usejsdoc.org/">JSDoc is used</a></li>
					<li>Refactoring within one file (<kbd>Alt+Shift+R</kbd>)</li>
					<li>JSON files highlight and validation</li>
					<li>NPM support</li>
					<li>Debugging - Breakpoint, Trace, Variables, Expressions, etc... via Eclipse debugger plugin for V8</li>
					<li>Setting project properties for <a href="http://github.eclipsesource.com/jshint-eclipse/">JSHint-Eclipse</a> automatically;
						<a href="http://www.jshint.com/">JSHint</a> 
						settings <a href="https://github.com/Nodeclipse/nodeclipse-1/blob/master/org.nodeclipse.ui/common-templates/.jshintrc">template</a> </li>
					<li>Passing arguments to Node application and Node.js, specifying environment variables values to use</li>
					<li>Running CoffeeScript *.coffee files</li>
					<li>Running *.js files with PhantomJS, MongoDB Shell or Java 8 Nashorn <code>jjs</code> util</li>
					<li>Bundled together with Markdown Editor, GitHub Flavored Markdown, StartExplorer (for system explorer and shell),
						RegEx, Icon Editor, MongoDB, RestClient Tool
						and other plugins (20+ in total, check update site and 
						<a href="http://www.nodeclipse.org/updates/list">Nodeclispe Plugin List</a>)
						</li>
					<li>Support for Eclipse Juno, Kepler, Luna M3</li>
				</ul>

				<h3>Usage</h3>
			        <p>
				 	See 1366x768 introduction video at <a href="/video">/video page</a> or see lower resolution on Youtube.
				 	</p>
					<iframe width="560" height="315" src="http://www.youtube.com/embed/8ACnLALdKT8" frameborder="0" allowfullscreen></iframe>
			        <p>
				 	Read also <a href="https://github.com/Nodeclipse/eclipse-node-ide/blob/master/Hints.md#hints">Hints</a> and
				 	<a href="https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.help/contents#intro">Online Help</a>.
			        </p>

		        <h4>Generating of Express project</h4>
					<p>
					<ol>
					<li>Select the [File]-[New]-[Node Express Project], and push [Next] button.</li>
					<li>Enter [Project name], select prefered Template Engine, and press [Finish] button.</li>
					</ol>
					</p>
				
				<h4>Debugging</h4>
					<p>
					<ol>
					<li>Open the JavaScript source files that you want to set breakpoints.</li>
					<li>Double-click on the ruler at the left end of the line you want to set a breakpoint.</li>
					<li>If you want to remove a breakpoint, double-click on the ruler again.</li>
					<li>Select the main source file of Node Application on the Project Explorer, open the context menu by right-clicking,
					 select the [Debug As]-[Node Application] menu.</li>
					</ol>
					</p>

				<h3><a name="support" class="anchor" href="#support"></a>Support</h3>
				<p>Browse existing questions on <a href="http://stackoverflow.com/questions/tagged/nodeclipse">StackOverflow</a>, as we do.</p>								
				<ul>
					<li>How do I? -- 1) <kbd>F1</kbd>/Help -> Help Contens -> Nodeclipse Help ,
					 <a href="https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.help/contents#intro">2) Online Help</a> or
					 <a href="http://stackoverflow.com/questions/ask">3) StackOverflow</a>! *1<br>
					 *1 Don't forget to add `nodeclipse` tag.		 
					 </li>
					<li>I got this error, why? -- <a href="http://stackoverflow.com/questions/tagged/nodeclipse">StackOverflow</a>! *1</li>
					<li>I got this error and I'm sure it's a bug -- raise an <a href="https://github.com/Nodeclipse/nodeclipse-1/issues">issue</a>!</li>
				<p>
				Should you report a bug, please include the following:
				<ol>
					<li>Nodeclipse version number (like 0.5 or 0.6)</li>
					<li>Eclipse version number (like 4.2.2 or 3.8.0)</li>
					<li>Eclipse distribution (e.g. Eclipse for JEE Developers)</li>
					<li>A detailed description of the steps necessary to reproduce the problem.</li>
					<li>Screenshot and stack trace, that you can get from Eclipse Error Log View (Window -> Show View ...)
					 or from '.log' file from the directory '.metadata' in your workspace.</li>					
					<li>See example <a href="https://github.com/Nodeclipse/nodeclipse-1/issues/78">issue #78</a></li>
				</ol>
				</p>
					<li>I have an idea/request -- suggest new <a href="http://nodeclipse.uservoice.com/forums/216804-general">ideas for Nodeclipse</a>!</li>
					<li>Why do you? -- <a href="https://groups.google.com/forum/#!forum/nodeclipse">Nodeclipse forum(Mailing list)</a>!</li>
					<li>When will you? -- <a href="https://groups.google.com/forum/#!forum/nodeclipse">Nodeclipse forum(Mailing list)</a>!</li>
				</ul>

          		<h3>Fork me on <a href="https://github.com/Nodeclipse">GitHub</a></h3>
          		<p>
          			You can also clone the <a href="https://github.com/Nodeclipse/nodeclipse-1">nodeclipse-1 project</a>
          			 with <a href="http://git-scm.com">Git</a> by running:
				</p>
				<pre>$ git clone git://github.com/Nodeclipse/nodeclipse-1.git</pre>
				<!--
				<pre><s>$ git clone git://github.com/tomotaro1065/nodeclipse.git</s></pre>
				<pre><s>$ git clone git://github.com/Nodeclipse/nodeclipse.git</s></pre>
				<pre><s>$ git clone git://github.com/lambgao/nodeclipse</s></pre>
				-->
				<p>Then build with</p>
				<pre>$ mvn package</pre>
				
				<p><a href="https://github.com/Nodeclipse/nodeclipse-1#maven-build">Check README</a></p>
				
				<h3>Hepling</h3>
				<p>Start by raising an <a href="https://github.com/Nodeclipse/nodeclipse-1/issues">issue</a>
				 about what you have on your mind, share some related information and links.</p>

				<h3>Contact</h3>
				<p>
					Please report <a href="https://github.com/Nodeclipse/nodeclipse-1/issues">bugs</a>.
					Please visit the <a href="https://groups.google.com/forum/#!forum/nodeclipse">Nodeclipse forum(Mailing list)</a>.
					<!-- 
					Please send us <a title="Send me an email" href="mailto:dev@nodeclipse.org">email</a>.<br/>
					 -->
				</p>
				
				<p>
					Looking for webmaster. If you noticed any site problem, typos, etc, please 
					<a href="https://github.com/Nodeclipse/www.nodeclipse.org/issues">raise an issue for the site</a>.
				</p>
				
				<p><a href="http://with-eclipse.github.io/" target="_blank"><img alt="with-Eclipse logo" src="http://with-eclipse.github.io/with-eclipse-1.jpg" /></a></p>
				
				<p><i>Hosted by</i><br>
		        <a href="https://github.com/Nodeclipse">
		          <img src="https://github.com/github/media/raw/master/logos/github_logo_social_coding_outlined.png" style="border: 0" alt="github.com" height="39" width="88">
		        </a></p>
                	</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31140487-1']);
  _gaq.push(['_setDomainName', 'nodeclipse.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40088581-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script><!-- tracking by Paul-->
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41377881-2', 'nodeclipse.org');
  ga('send', 'pageview');

</script>
</body>
</html>
