<a href="http://sourceforge.net/projects/nodeclipse/files/Enide-Studio-2014/0.11-preview/Enide-Studio-2014-011-20140228-win32.zip/download">
<img alt="Enide Studio 2014 for Windows x32" src="/img/enide-studio/icon-windows.png" />win32</a>
<a href="http://sourceforge.net/projects/nodeclipse/files/Enide-Studio-2014/0.11-preview/Enide-Studio-2014-011-20140228-win64.zip/download">
<img alt="Enide Studio 2014 for Windows x64" src="/img/enide-studio/icon-windows.png" />win64</a>
<a href="http://sourceforge.net/projects/nodeclipse/files/Enide-Studio-2014/0.11-preview/Enide-Studio-2014-011-20140228-macosx-cocoa-x86_64.zip/download">
<img alt="Enide Studio 2014 for MacOS x64" src="/img/enide-studio/icon-mac.png" />MacOS X</a>