
get
<a href="http://sourceforge.net/projects/nodeclipse/files/Enide-Studio-2014/0.17plus0.8_u2/Enide-Studio-2014.17-u2-win64.zip/download">
<img alt="Enide Studio 2014.17-u2 for Windows x64" src="http://www.nodeclipse.org/img/enide-studio/icon-windows.png" />
Enide Studio 2014.17-u2 for Windows x64</a></br>


get and update older (0.11-preview, no longer recommended) 
<a href="http://sourceforge.net/projects/nodeclipse/files/Enide-Studio-2014/0.11-preview/Enide-Studio-2014-011-20140228-win32.zip/download">
<img alt="Enide Studio 2014 for Windows x32" src="/img/enide-studio/icon-windows.png" />win32</a>
<a href="http://sourceforge.net/projects/nodeclipse/files/Enide-Studio-2014/0.11-preview/Enide-Studio-2014-011-20140228-win64.zip/download">
<img alt="Enide Studio 2014 for Windows x64" src="/img/enide-studio/icon-windows.png" />win64</a>
<a href="http://sourceforge.net/projects/nodeclipse/files/Enide-Studio-2014/0.11-preview/Enide-Studio-2014-011-20140228-macosx-cocoa-x86_64.zip/download">
<img alt="Enide Studio 2014 for MacOS x64" src="/img/enide-studio/icon-mac.png" />MacOS X</a>
<a href="http://sourceforge.net/projects/nodeclipse/files/Enide-Studio-2014/011-preview/Enide-Studio-2014-011-20140303-linux-gtk3-x86_64.zip/download">
<img alt="Enide Studio 2014 for Linux x64" src="/img/enide-studio/icon-linux.png" />Linux</a>