<h3>Links</h3>
<p>
	<a href="/#news">News</a>.
	<a href="/features">Features</a>.
	<a href="/demos/navigation">Demo</a>.
	<a href="/history">History</a>.
	<a href="/usage">Usage</a>.
	<a href="/updates">Download</a>.
	<a href="/#support">Support</a>.
	<a href="/support-us">Support us</a>.
	<a href="/about">About</a>.
	<br/>
	<a href="/projects/gradle/">Gradle IDE Pack</a>.
	<a href="/projects/gradle/android/">Gradle for Eclipse - Android</a>.
	<a href="https://github.com/angelozerr/angularjs-eclipse/">AngularJS-Eclipse</a>.
</p>
