<h3>Links</h3>
<p>
	<a href="/#news">News</a>.
	<a href="/features">Features</a>.
	<a href="/demos/navigation">Demo</a>.
	<a href="/history">History</a>.
	<a href="/usage">Usage</a>.
	<a href="/updates">Download</a>.
	<a href="/#support">Support</a>.
	<a href="/support-us">Support us</a>.
	<a href="/about">About</a>.
	<a href="/donate">Donate</a>.
	<a href="/projects/gradle/">Gradle IDE Pack</a>.
	<a href="/projects/gradle/android/">Gradle for Eclipse - Android</a>.
	<a href="https://github.com/angelozerr/angularjs-eclipse">AngularJS-Eclipse</a>.
	<a href="https://github.com/angelozerr/angular2-eclipse">Angular2-Eclipse</a>.
	<a href="http://www.nodeclipse.org/updates/polyglot-maven-ide-pack/">Polyglot Maven IDE Pack</a>.
	<a href="/projects/proto">.proto Editor</a>.
	<a href="https://www.npmjs.com/package/nodeclipse#nodeclipse-cli-installer">Nodeclipse CLI installer</a>.
</p>
