---
layout: nil
title: Nodeclipse, Enide - Updates
---
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="nodeclipse,Nodeclipse,node.js,eclipse pulgin,ide,node" name="keywords">
    <link type="image/x-icon" rel="icon" href="http://www.nodeclipse.org/favicon.ico">
    <link type="image/x-icon" rel="shortcut icon" href="http://www.nodeclipse.org/favicon.ico">
    <link rel="stylesheet" href="http://www.nodeclipse.org/pipe.css">
	<title>Nodeclipse - Installation Instructions</title>
	<style>
		ul {
			padding: 0;
			margin: 0;
		}
	</style>
</head>
  <body class="int" id="logos">
  	<div id="intro" class="interior">
  		<h3>Logos on this page link to the corresponding projects</h3>
        <a href="http://www.nodejs.org/" title="Go to Node.js web site">
            <img src="../img/nodejs-logo.png" alt="Node">
        </a>
        <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html" title="Go to JDK downloads">
	        <img src="http://www.oracle.com/ocom/groups/public/@otn/documents/digitalasset/1612441.gif" width="50" height="50" />
        </a>
        <a href="http://www.nodeclipse.org/enide/studio/2014/" title="Go to Enide Studio 2014 web page">
            <img src="../img/eclipse48.png" alt="Enide Studio 2014">
        </a>
        <a href="http://developer.android.com/sdk/index.html" title="Go to Android tools web site">
			<img src="../img/logos/100px-Android_robot.svg.png" width="50" height="50"/>
        </a>
        <a href="http://www.gradle.org/" title="Go to Gradle web site">
			<img src="../img/logos/gradle-icon-128x128.png" width="50" height="50"/>
        </a>
        <a href="http://maven.apache.org/" title="Go to Apache Maven web site">
			Maven
        </a>
        <!-- 
        </br>
        <a href="http://www.eclipse.org/" title="Go to Eclipse web site">
		    <img width="171" height="91" alt="Eclipse.org" src="http://www.eclipse.org/eclipse.org-common/themes/Nova/images/eclipse-800x426.png"></img>
		</a>
		 -->
        
    </div>
    <div id="content" class="clearfix">
            <div id="column2" class="interior">
                <ul>
                    <li><a href="/" class="home">Home</a></li>
                    <li><a href="/community/" class="community">Community</a></li>
                    <li><a href="https://github.com/Nodeclipse/nodeclipse-blog#blog" class="blog external">Blog</a></li>
                    <li><a href="/share.html" class="docs">SHARE</a></li>
                    <li><a href="/artworks.html" class="logos">Logos</a></li>
                    <li><a href="/updates/" class="download current">Download</a></li>
                    <li>{% include nodeclipse_install_button.html %}</li>
                    <li><a href="/enide" class="download">Enide</a></li>
                    <li><a href="/nts/" class="download">NTS</a></li>
                    <li><a href="http://nodeclipse.github.io/" class="blog external">Developing</a></li>
                    <li><a href="https://github.com/Nodeclipse/coffeescript-eclipse" class="blog external">Coffee</a></li>
                    <li><a href="/restclient-tool/" class="blog">REST CLIENT</a></li>
                    <li><a href="/sdk/" class="blog">SDK</a></li>
                    <li><a href="/video">Video</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="http://nodeclipse.uservoice.com/forums/216804-general" class="community">Ideas</a></li>
                    <li><a href="/feed.articles.xml">Feeds</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="https://github.com/Nodeclipse/eclipse-node-ide/blob/master/Hints.md#hints">Hints</a></li>
                    <li><a href="https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.help/contents#intro">Help</a></li>
                </ul>
                
                <p class="twitter"><a href="http://twitter.com/share?url=http://www.nodeclipse.org&text=#nodeclipse #nodejs tooling with #eclipse" target="_blank">tweet</a></p>

            </div>
        
            <div id="column1" class="interior">
 
 
            	<h3>prerequisites</h3>
            	<p>
				</p>
            	</br>
            	In short words, install Node.js with needed packages, Java and Eclipse package like Enide 2015:</br>
            	</br>
				<ul>
			    <li>1. <img src="http://nodejs.org/images/logo.png" width="50" height="20" />
			    If you don't have, get latest Node.js<br> 
			    <a href="http://www.nodejs.org/download/">http://www.nodejs.org/download/</a><br>
			    or <a href="https://iojs.org">io.js</a>			    
			    </li>
			    
			    <li>2. Then install Nodeclipse CLI and Express as follows.
				<pre>$ npm install -g nodeclipse</pre><br/>
				<pre>$ npm install -g express</pre><br/>
				<pre>$ npm install -g express-generator</pre><br/>
				
				If you are going to use <a href="http://coffeescript.org/">CoffeeScript</a>, do
				<pre>$ npm install -g coffee-script</pre><br/>
				</li>			    
			
			    <li>3. <img src="http://www.oracle.com/ocom/groups/public/@otn/documents/digitalasset/1612441.gif" width="50" height="50" />
			    If you don't have, download & install JDK 8 from 
			    <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">Oracle Java SE Downloads</a>.
			    For example "Java Platform (JDK) 8u45".<br>
			    There are issues with Java 7 and 6 
			    <a href="https://github.com/Nodeclipse/nodeclipse-1/issues/71">#71</a>
			    <a href="https://github.com/Nodeclipse/nodeclipse-1/issues/72">#72</a>
			    .<br>
			    <br>			    
				Note 0: If you don't know what version is used by Eclipse, check in Preferences -> Nodeclipse.</br>
				The Eclipse <a href="https://wiki.eclipse.org/FAQ_How_do_I_run_Eclipse%3F">most recommended way</a>
				to configure what JDK to use is to configure in <code>eclipse.ini</code>.<br>
				<br>
				
				<!--  
			    Note 1: <a href="https://github.com/Nodeclipse/nodeclipse-1/issues/71">issue #71 No output from console.log on Java 7</a> may require to use
			    x32 version for Java 7 (But for Java 8 seems OK, more feedback about different OS needed).
			    x32 bit JDK would be good enough for using IDE. 
			    You can use x64 bit JDK, if you are OK with #71.</br> 
			    Anyway Java software stack should be of the same bit length x64 or x32 
			    (e.g. Windows x64, JDK x64, Eclipse x64; or Windows x64, JDK x32, Eclipse x32).
				<br><br>
				Note 2: (Warning: there is critical <a href="https://github.com/Nodeclipse/nodeclipse-1/issues/72">issue #72</a> with JDK 6.)</br>
				<br>
				-->
				</li>
				
				<li>4.a Get <a href="http://www.nodeclipse.org/enide/2015/" title="Go to Enide 2015 web page">
				Enide 2015</a> with all Nodeclipse plugins included.</br>
				</br>				
				{% include enide-2015-downloads.html %}</br>
				</br>
				That is enough for Node.js, JavaScript and Java development. You can update to the latest version
				and install even more from Nodeclipse Updates repository, see "b) update site".</br>
				</br>
				For MacOC X there was also download method using
				<a href="https://github.com/phinze/homebrew-cask" >homebrew-cask</a>. 
				<ol>
					<li>Install <a href="http://brew.sh/">homebrew</a> (<code>ruby -e "$(curl -fsSL https://raw.github.com/Homebrew/homebrew/go/install)"</code>).</li>
					<li>Tap cask repo (<code>brew tap phinze/cask</code>).</li>
					<li>Install Enide Studio 2014 by Nodeclipse (<code>brew cask install nodeclipse</code>).</li>
				</ol>
				There was no feedback from MacOS users.
				To update see 
				<a href="https://github.com/phinze/homebrew-cask/blob/master/Casks/nodeclipse.rb">Casks/nodeclipse.rb</a>
				<br>
				<br>
				
				For Windows there was also older <a href="/enide/studio/2014">Enide Studio 2014 (Eclipse 4.4 Luna distribution)</a>
				and <a href="/enide/studio/">Enide Studio 0.5 (Eclipse 4.3 Kepler distribution)</a>
				with Nodeclipse plugins pre-installed and configured. 
				<a href="https://sourceforge.net/projects/nodeclipse/files">Download it from SourceForge</a>,
				then update following "Installation Instructions". 
				(<a href="/projects/coffeescript">CoffeeScript plugin</a> works fine with Eclipse 4.3.0 platform.)
				</li>

				<li>4.b or <a href="http://www.eclipse.org/downloads/">Download</a> and install Eclipse for your OS.</br>
				Recommended is "Eclipse IDE for Committers" (actually it is Standard/SDK), 
				"Eclipse IDE for Java Developers" or "Eclipse for Java/DSL Developers".
				You can also install Nodeclipse/Enide plugins into
				<!--<a href="http://developer.android.com/sdk/installing/bundle.html">Android ADT-Bundle</a>,-->
				<a href="http://aptana.com/products/studio3/download">Aptana Studio</a> 
				(see <a href="https://github.com/Nodeclipse/nodeclipse-1/issues/181">issue #181</a>),
				<!--<a href="http://spring.io/tools/ggts/">GGTS Groovy Grails Tool Suite</a>,-->
				<a href="https://devstudio.jboss.com/download/">Red Hat JBoss Developer Studio</a>,
				<a href="http://spring.io/tools/sts/">STS Spring Tool Suite</a>
				or other <a href="http://en.wikipedia.org/wiki/List_of_Eclipse-based_software">Eclipse-based software</a> 
				like Adobe Flash Builder, IBM Rational products and SAP NetWeaver Developer Studio.
				</li>				

								
				</ul>
            
            	<h3>Installation\Update Instructions</h3>
            	(for Eclipse or Enide [Studio])</br>
            	</br>
            	In short words, drag-and-drop {% include nodeclipse_install_button.html %}
				on Eclipse main toolbar and get <a href="/enide/2015">Enide 2015</a> plugins.
            	
		        <h4><a name="marketplace" class="anchor" href="#marketplace"></a>
		        a) Marketplace (Recommended way: a bit quicker)</h4>
				<pre>1.  Start Eclipse.</pre>
				<p>2.  Drag and drop {% include nodeclipse_install_button.html %} into a running Eclipse (menu area) to install Nodeclipse.</p>
				<pre>    <a href="list-tip-how">See tip how</a></pre>
				<pre>2.  Review the features that you are about to install. Click Next.</pre>
				<pre>3.  Read the license agreements,</pre>
				<pre>    and then select I accept the terms of the license agreements. Click Finish.</pre>
				<pre>4.  You will then be asked if you would like to restart Eclipse. Click Restart Now.</pre>
				<pre><b>5.  Switch to Node perspective (e.g. Window -> Open Perspective -> Other ... -> Node).</b></pre>
				<pre>6.  Now you are ready to develop Node.js applications with Nodeclipse!</pre>
				
				<!-- got bad UI
				<script type="text/javascript">url_site = 'http://marketplace.eclipse.org/node/759140';</script>
				<script src="http://marketplace.eclipse.org/sites/all/modules/custom/eclipse_drigg_external/js/button.js" type="text/javascript"></script>
				-->
				
				<h4><a name="update-site" class="anchor" href="#update-site"></a>
				b) update site (bigger choice)</h4>
				<pre>1.  Start Eclipse, then select Help > Install New Software...</pre>
				<pre>2.  Enter the update site URL into the Work with text box:</pre>
				<pre>    http://www.nodeclipse.org/updates/</pre>
				<pre>    or the one that is quicker but changes every release</pre>
				<pre>    {% include nodeclipse_update_site.html %}</pre>
				<pre>    Select with checkbox what you want to install.</pre>
				<pre>    ("The more, the better" does not apply here.</pre>
				<pre>    Take note of what features names you are installing.)</pre>
				<pre>    Below is Enide-Recommended-Set-for-Nodejs for example.</pre>				
				<img src="../img/Nodeclipse-Updates-Enide-Recommended-Set-for-Nodejs.png"/>
				<pre><b>3.  Uncheck "Contact all updates site during install to find required software"</b></pre> 
				<pre>    to make installation quicker.</pre>
				<pre>    Note that different Eclipse version have different behaviour for that checkbox.</pre>
				<pre>    Press the Enter key or <kbd>Next<kbd/> button.</pre>
				<pre>4.  After a while depending of what you had and what you selected,</pre>
				<pre>    you should see the center box filled with Eclipse plugins to install.</pre>
				<pre>    Click Next.</pre>
				<pre>5.  Review the features that you are about to install. Click Next.</pre>
				<pre>6.  Read the license agreements,</pre>
				<pre>    and then select I accept the terms of the license agreements. Click Finish.</pre>
				<pre>7.  You will then be asked if you would like to restart Eclipse. Click Restart Now.</pre>
				<pre><b>8.  Switch to Node perspective (e.g. Window -> Open Perspective -> Other ... -> Node).</b></pre>
				<pre>9.  Now you are ready to develop Node.js applications with Nodeclipse and great tools!</pre>
				
				<!-- http://marketplace.eclipse.org/updatesite/help?url={% include nodeclipse_update_site.html %} -->
				
				<h4><a name="archive" class="anchor" href="#archive"></a>
		        c) Archive (when Internet is slow, not stable or installing many times)</h4>
		        <p>zip archive has content identical to update p2 site</p>
		        <pre>0.  Download zip from <a href="https://sourceforge.net/projects/nodeclipse/files/update-site-archive/">SourceForge</a>.</pre>
				<pre>1.  Start Eclipse.</pre>
				<pre>2.  Help -> Install New Software -> Add -> Archive.</pre>
				
				<p>Hint for b) & c): keep the file name the same when updating, or remove old path and URLs as Eclipse keeps checking them.</p>
				
				<h4><a name="nodeclipse-installer" class="anchor" href="#nodeclipse-installer"></a>
				d) Enide p2f file</h4>
				<pre>0.  Read more at <a href="http://marketplace.eclipse.org/content/enide-eclipse-nodejs-ide">Marketplace page</a>.</pre>

				<h4><a name="nodeclipse-installer" class="anchor" href="#nodeclipse-installer"></a>
				e) Nodeclipse CLI Installer</h4>
		        <pre>0.  Read more at <a href="https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.ui/templates">GitHup page</a>.</pre>
				<pre>1.  <code>cd path/to/eclipse<code></pre>
				<pre>2.  <code>nodeclipse install nodejs markdown gfm startexplorer<code></pre>
				<pre>3.  Start Eclipse.</pre>
				
				<!-- Also this cool way of copying p2 repo with eclipse, but won't getting zip be better? 
				// http://wiki.eclipse.org/Equinox_p2_Repository_Mirroring
				eclipse.exe -nosplash -verbose -application org.eclipse.equinox.p2.artifact.repository.mirrorApplication -source http://dl.bintray.com/nodeclipse/nodeclipse/0.9.0/ -destination C:\temp\p2mirror				
				 -->								

				<h3>Updating</h3>
				
				<p>If you used <code>{% include nodeclipse_update_site.html %}</code> like URL or update site zip archive,
					you will just need to install with any above option.
					(Also you will need to clean up old update sites in Preferences -> Update/Install -> Available Software Sites.)</br>
					Otherwise Eclipse "Help -> Check for updates" should work. 
					You will be notified about updates if you have "Automatic Updates" enabled in Preferences.
					Check <a href="/">home page</a> for announces and news about new plugins and workflow.</p>
				
				<p> Reset perspective after an update for new UI elements to appear:
				<img src="../img/ResetPerspective.png" alt="ResetPerspective" />
				</p>
				<p>
					If you have run into the problem while updating, e.g. 
					<a href="https://github.com/Nodeclipse/nodeclipse-1/issues/72">"#72"</a>,
					1) let us know by raising new <a href="https://github.com/Nodeclipse/nodeclipse-1/issues">issue</a>
					 (tell exactly what OS, Java version, Eclipse version and Nodeclipse version is used.)
					 2) Update to <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">latest JDK</a>. 
					 3) Uninstall then install: 3.1) Uninstall Nodeclipse Core (only 1 feature entry) via 
					Help -> About Eclipse -> Installation details, select Nodeclipse, then <kbd>Uninstall..</kbd> button 
					3.2) install again.</code>
				</p>
				
				<h3><a name="troubleshooting" class="anchor" href="#troubleshooting"></a>Troubleshooting</h3>
            	<p>
            		If you can't install, try different way to get Nodeclipse, e.g. other update site, 
            		<a href="/enide" class="download">Enide</a> or <a href="/enide/studio/">Enide Studio</a>.</br>
            		<!-- 
            		If <pre>http://www.nodeclipse.org/updates/</pre> update site is unavailable, check <a href="https://status.github.com/messages">GitHub System Status</a>.</br>
            		 -->
            		Check <a href="/">home page</a> for announcements.</br>
            		Try <a href="http://www.nodeclipse.org/#support">support options</a>.</br>
      			</p>
        	</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31140487-1']);
  _gaq.push(['_setDomainName', 'nodeclipse.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52e740e2779a0bdd"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'right',
      'numPreferredServices' : 6
    }   
  });
</script>
<!-- AddThis Smart Layers END -->
                
</body>
</html>
